<html>
<head lang="en">
    <meta charset="UTF=8">
</head>
<body>
    <title>Inicio de sesión</title>
    <h2>
    Inicie sesi&oacute;n
    </h2>

        <form action="/datos/" method="GET">
        <p>Ingrese usuario y contrase&ntilde;a</p>
        <p>usuario: <input type="text" name="usuario"></p>
        <p>contrase&ntilde;a: <input type="password" name="contraseña"></p>
        <input type="submit" value="Iniciar"> 
        </form>

        <form action="/admin/">
        <input type="submit" value="Clic si eres Administrador">
        </form>
         
 
</body>
</html>